<header>
  <h2>Catalog: {{name}}</h2>
</header>
<main>
  <header class="top-toolbar">
    <button *ngIf="lessonsCatalogStore.selectCanAddLessons | ngrxPush" (click)="addLesson()">Add lesson</button>
  </header>
  <main>
    <hr>
    <div *ngIf="(lessonsCatalogStore.selectLessonsCount | ngrxPush) > 0; else nolessons">
      <header>Lessons:</header>
      <ul>
        <li *ngFor="let lesson of (lessonsCatalogStore.selectLessons | ngrxPush)">
          <app-lesson [lesson]="lesson" (removeRequested)="lessonsCatalogStore.removeLesson(lesson)" [canBeRemoved]="(lessonsCatalogStore.selectCanRemoveLessons | ngrxPush) === true"></app-lesson>
        </li>
      </ul>
    </div>
    <ng-template #nolessons>
      No lessons added so far
    </ng-template>
  </main>
  <footer>
    <hr>
    <h3>Modify the state using these:</h3>
    <ul>
      <li>
        <button *ngIf="(lessonsCatalogStore.selectCanAddLessons | ngrxPush) === false" (click)="lessonsCatalogStore.allowAddingLessons()">Allow adding lessons</button>
        <button *ngIf="lessonsCatalogStore.selectCanAddLessons | ngrxPush" (click)="lessonsCatalogStore.denyAddingLessons()">Deny adding lessons</button>
        <button *ngIf="(lessonsCatalogStore.selectCanRemoveLessons | ngrxPush) === false" (click)="lessonsCatalogStore.allowRemovingLessons()">Allow removing lessons</button>
        <button *ngIf="lessonsCatalogStore.selectCanRemoveLessons | ngrxPush" (click)="lessonsCatalogStore.denyRemovingLessons()">Deny removing lessons</button>
      </li>
      <li>
        <button (click)="lessonsCatalogStore.loadLessons({ page: 0, offset: 0, itemsPerPage: 2})">Load lessons</button>
      </li>
      <li>
        <button (click)="resetDemo()">Reset demo</button>
      </li>
    </ul>
  </footer>
</main>
